@use 'variables' as *;

@mixin desktop {
  @media (min-width: #{$bp-desktop}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$bp-desktop - 1px}) {
    @content;
  }
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin scrollbar-hidden {
  scrollbar-width: none;
  &::-webkit-scrollbar { display: none; }
}
